.drawerButton {
  position: absolute;
  top: 7.6rem;
  left: 35%;
}

.drawerContainer {
  margin: 0 0 1% 1%;
}

.autoSearchButton {
  height: 2.5rem;
  top: 0.5rem;
}

.resultsAreaContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100% !important;
}

.miniCardContainer {
  width: 16rem;
  height: 21rem;
  margin: 0 1.5%;
  border: solid 2px black;
  box-shadow: 0.3rem 0.3rem 0.2rem rgb(209, 209, 209);
  text-align: center;
  color: #f8a642;
  background-color: #282749;
}

.miniCardContainer img {
  height: 60%;
  width: 100%;
}

.css-xn6ruc>:not(style) {
  width: 100%;
}

.selectButtonContainer {
  padding-top: 1.2%;
  display: flex;
  justify-content: center;
  width: 100% !important;
}

.selectButton {
  height: 3rem;
  font-size: 1.3rem;
  background-color: #282749;
  color: #f8a642;
  width: 15rem;
}